# Data structures

In [1]:
# list -> array
# tuples
# dictionary -> mapping data type
# set -> sets in maths

# List

In [2]:
# List --> collection of values --> all data types has constructer, we can declare/assign value.

#                list                                                array
# heterogeneus(values of diff data types)             homogeneous (values of same data type)
# [4,3, "string", 4+5j, 4.5, True, [3, 4, [4, 7]]]

In [3]:
nums = list([2, 3, 4, 5, 6])
type(nums)

list

In [4]:
[4, 3, 5, 6]

[4, 3, 5, 6]

In [5]:
elem = [4,3, "string", 4+5j, 4.5, True, [3, 4, [4, 7]]]

In [6]:
type(elem)

list

In [7]:
#indexing
elem[0]

4

In [8]:
elem[-1]

[3, 4, [4, 7]]

In [9]:
elem[len(elem) - 1]

[3, 4, [4, 7]]

In [10]:
elem[-1][-1]

[4, 7]

In [11]:
elem[-1][-1][0]

4

In [12]:
elem[2]

'string'

In [13]:
elem[2][-2]

'n'

In [14]:
#slicing (h/w) --> variable_name[start:stop:step] 
# (by default step in right direction with 1) (step +ve ---> positive traversal, -ve --> -ve traversal)

In [16]:
#immutability
elem[0] = 5000 #mutable
elem

[5000, 3, 'string', (4+5j), 4.5, True, [3, 4, [4, 7]]]

In [17]:
#duplicacy
elem=[333, 3, 3, 3]
elem

[333, 3, 3, 3]

In [18]:
#append
#two join two lists together
l1 = [1, 2, 3]
l2=[4, 5, 6]
l1 + l2
# original lists will not change

[1, 2, 3, 4, 5, 6]

In [19]:
l1

[1, 2, 3]

In [20]:
l2

[4, 5, 6]

In [21]:
l1.append(l2)

In [22]:
l1

[1, 2, 3, [4, 5, 6]]

In [23]:
l2

[4, 5, 6]

In [24]:
#extend
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l1.extend(l2)

In [25]:
l1

[1, 2, 3, 4, 5, 6]

In [26]:
l2

[4, 5, 6]

In [1]:
#insert (h/w)
# remove element from the list (h/w) --> list.remove(elem), del list[elem_index],list.pop(), list.pop(elem_index)

In [2]:
#sorting
list1=[4, 5, 6, 1, 2, 4, 3]
#list.sort()
list1.sort()
list1

[1, 2, 3, 4, 4, 5, 6]

In [4]:
list1.sort(reverse=True)
list1

[6, 5, 4, 4, 3, 2, 1]

In [5]:
#sorted(list)
sorted(list1)

[1, 2, 3, 4, 4, 5, 6]

In [6]:
list1

[6, 5, 4, 4, 3, 2, 1]

# Tuples

In [7]:
#ordered collection of data items
#             Tuples            List
#          immutable          mutable

In [8]:
t1=()
t1

()

In [9]:
type(t1)

tuple

In [10]:
t2 = tuple()
t2

()

In [11]:
t2 = tuple((1, 2, 3, 4))
t2

(1, 2, 3, 4)

In [12]:
type(t2)

tuple

In [13]:
# elements
t3 = (1, 2, 3, "python", 4.5, 4+6j, [2, 34,5], (3463, 372, 378, (57, 68, 9)))
t3

(1, 2, 3, 'python', 4.5, (4+6j), [2, 34, 5], (3463, 372, 378, (57, 68, 9)))

In [14]:
type(t3)

tuple

In [15]:
t3[0] = "one"
#immutable

TypeError: 'tuple' object does not support item assignment

In [16]:
#slicing -> possible as it has indexing
#reverse --> 
t3[::-1]

((3463, 372, 378, (57, 68, 9)), [2, 34, 5], (4+6j), 4.5, 'python', 3, 2, 1)

In [17]:
len(t3) #duplicacy

8

In [18]:
#destructuring/unpacking of tuple
a,b,c = (11, 22, 13, 14)

ValueError: too many values to unpack (expected 3)

In [19]:
a,b,c,_ = (11, 22, 13, 14)

In [20]:
a

11

In [21]:
b

22

In [22]:
c

13

In [23]:
_

14

In [24]:
#one item in it
fruits=("apples") #one element at tuple, then data type is not treated as tuple
fruits

'apples'

In [25]:
type(fruits)

str

In [26]:
fruits=("apples",) #one element at tuple,comma then data type is treated as tuple
fruits
type(fruits)

tuple

In [27]:
#count --> occurance of any element (h/w)
#index --> index of an element (h/w)

In [28]:
#casting --> casting into list ---> then mutable --> then recast into tuple

In [29]:
t3

(1, 2, 3, 'python', 4.5, (4+6j), [2, 34, 5], (3463, 372, 378, (57, 68, 9)))

In [30]:
t3[3]=6

TypeError: 'tuple' object does not support item assignment

In [31]:
converted_list = list(t3)

In [33]:
converted_list[3] = 6
converted_list

[1, 2, 3, 6, 4.5, (4+6j), [2, 34, 5], (3463, 372, 378, (57, 68, 9))]

In [34]:
t3 = tuple(converted_list)
t3

(1, 2, 3, 6, 4.5, (4+6j), [2, 34, 5], (3463, 372, 378, (57, 68, 9)))

In [35]:
#mathematical operations
t2

(1, 2, 3, 4)

In [36]:
t3

(1, 2, 3, 6, 4.5, (4+6j), [2, 34, 5], (3463, 372, 378, (57, 68, 9)))

In [37]:
t2 + t3

(1,
 2,
 3,
 4,
 1,
 2,
 3,
 6,
 4.5,
 (4+6j),
 [2, 34, 5],
 (3463, 372, 378, (57, 68, 9)))

In [38]:
t2*t3

TypeError: can't multiply sequence by non-int of type 'tuple'

In [39]:
t2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# Dictionary

In [40]:
#just like object in javascript, key-value pair

In [41]:
d1={}

In [42]:
type(d1)

dict

In [43]:
d2=dict()

In [44]:
d2

{}

In [45]:
type(d2)

dict

In [46]:
info={"company":"Inzint", "location":"Noida"}

In [47]:
info

{'company': 'Inzint', 'location': 'Noida'}

In [48]:
info={"company":"Inzint", "location":"Noida", 1:"one", "one":12}
info

{'company': 'Inzint', 'location': 'Noida', 1: 'one', 'one': 12}

In [49]:
info={"company":"Inzint", "location":"Noida", 1:"one", "one":12, True: "abc"}
info

{'company': 'Inzint', 'location': 'Noida', 1: 'abc', 'one': 12}

In [50]:
info={"company":"Inzint", "location":"Noida", 1:"one", "one":12, True: "abc", "location":"Delhi"}
info

{'company': 'Inzint', 'location': 'Delhi', 1: 'abc', 'one': 12}

In [51]:
info={"company":"Inzint", "location":"Noida", 1:"one", "one":12, True: "abc", 0:"abc"}
info

{'company': 'Inzint', 'location': 'Noida', 1: 'abc', 'one': 12, 0: 'abc'}

In [52]:
#indexing
info[0]

'abc'

In [53]:
info={"company":"Inzint", "location":"Noida", 1:"one", "one":12, True: "abc"}
info

{'company': 'Inzint', 'location': 'Noida', 1: 'abc', 'one': 12}

In [54]:
info[0]

KeyError: 0

In [55]:
info["location"]

'Noida'

In [56]:
info(True)

TypeError: 'dict' object is not callable

In [57]:
info.keys()

dict_keys(['company', 'location', 1, 'one'])

In [58]:
info.values()

dict_values(['Inzint', 'Noida', 'abc', 12])

In [59]:
info.items() # a list of tuples of key value pair

dict_items([('company', 'Inzint'), ('location', 'Noida'), (1, 'abc'), ('one', 12)])

In [60]:
# adding/updating value inside dictionary

In [61]:
info

{'company': 'Inzint', 'location': 'Noida', 1: 'abc', 'one': 12}

In [62]:
info[1] = 100
info

{'company': 'Inzint', 'location': 'Noida', 1: 100, 'one': 12}

In [63]:
info["number of employees"] = 42
info

{'company': 'Inzint',
 'location': 'Noida',
 1: 100,
 'one': 12,
 'number of employees': 42}

In [64]:
# update --> h/w

In [65]:
# delete

In [66]:
info

{'company': 'Inzint',
 'location': 'Noida',
 1: 100,
 'one': 12,
 'number of employees': 42}

In [67]:
info.pop(1)

100

In [68]:
info

{'company': 'Inzint',
 'location': 'Noida',
 'one': 12,
 'number of employees': 42}

In [69]:
info.popitem()

('number of employees', 42)

In [70]:
info

{'company': 'Inzint', 'location': 'Noida', 'one': 12}

In [71]:
info.clear()

In [72]:
info

{}

In [73]:
del info

In [74]:
info

NameError: name 'info' is not defined

# set

In [75]:
#multiple elemnts
#unordered
#unchangable
#non-duplicate elements
#{}
#set()

In [76]:
#empty
s1={}
type(s1)

dict

In [77]:
s2=set()
type(s2)

set

In [79]:
s3={2, 3, 5,45, 6, 7, 6, 8, 2}
s3 #non duplicate came, sorted came (so order changed - unordered)

{2, 3, 5, 6, 7, 8, 45}

In [80]:
# set cant be indexed or sliced (as unordered)
s3[0]

TypeError: 'set' object is not subscriptable

In [81]:
#checking length (duplicacy)
len(s3)

7

In [82]:
# what all elements can be sorted -> h/w

In [83]:
# add/remove elements
s1={1, 2, 3, 4}
s2={4, 5, 6, 7}
s1.add(55)

In [84]:
s1

{1, 2, 3, 4, 55}

In [85]:
s1.update(s2)

In [86]:
s1

{1, 2, 3, 4, 5, 6, 7, 55}

In [87]:
#remove
s1.remove(55)

In [88]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [89]:
s1.discard(1)

In [90]:
s1

{2, 3, 4, 5, 6, 7}

In [91]:
# frozen sets --> h/w

In [92]:
#input()
#user input
a=10

In [93]:
input()

abc

'abc'

In [94]:
value=input('enter any value')
value

enter any value78

'78'

In [95]:
# input always comes in string
#type cast to int if want

In [96]:
value=int(input('enter any value'))
value

enter any value56

56

In [97]:
#user defined list --> h/w

In [98]:
# /, //, %

In [99]:
a= 6/2

In [100]:
a

3.0

In [101]:
a = 6//2

In [102]:
a

3

In [1]:
#frozen sets
l1=[1,2,3,2, 4]
f1=frozenset(l1)
type(f1)

frozenset

In [2]:
{1:"integer", "string":"python", True:"Boolean"}

{1: 'Boolean', 'string': 'python'}

In [3]:
{1:"integer", "string":"python", True:"Boolean", 0:"integer", False:"Boolean"}

{1: 'Boolean', 'string': 'python', 0: 'Boolean'}

# if-elif-else statement

In [4]:
num1=int(input('enter a number '))
num2=int(input('enter a number '))
if num1 > num2:
    print(f'{num1} is greater than {num2}')

enter a number 76
enter a number 34
76 is greater than 34

In [5]:
num1=int(input('enter a number '))
num2=int(input('enter a number '))
if num1 > num2:
    print(f'{num1} is greater than {num2}')
else:
    print(f'{num1} is less than {num2}')

enter a number 56
enter a number 67
56 is less than 67

In [6]:
num1=int(input('enter a number '))
num2=int(input('enter a number '))
if num1 > num2:
    print(f'{num1} is greater than {num2}')
else:
    print(f'{num1} is less than {num2}')

enter a number 7
enter a number 7
7 is less than 7

In [7]:
num1=int(input('enter a number '))
num2=int(input('enter a number '))
if num1 > num2:
    print(f'{num1} is greater than {num2}')
elif num1 == num2:
    print(f'{num1} is equal to {num2}')
else:
    print(f'{num1} is less than {num2}')

enter a number 7
enter a number 7
7 is equal to 7

In [8]:
#nested sequence

In [9]:
#short hand if-else

In [10]:
num1, num2

(7, 7)

In [11]:
if num1==num2:print("both numbers are equal")

both numbers are equal

In [12]:
num1=23
num2=35
print(f'{num1} is less than {num2}') if num1 < num2 else print(f'{num1} is greater than {num2}')

23 is less than 35

In [13]:
#3 conditions
print(f'{num1} is less than {num2}') if num1 < num2 else print("both numbers are equal") if num1 == num2 else print(f'{num1} is greater than {num2}')

23 is less than 35

In [14]:
num1=7
num2=7
print(f'{num1} is less than {num2}') if num1 < num2 else print("both numbers are equal") if num1 == num2 else print(f'{num1} is greater than {num2}')

both numbers are equal

In [15]:
num1=70
num2=7
print(f'{num1} is less than {num2}') if num1 < num2 else print("both numbers are equal") if num1 == num2 else print(f'{num1} is greater than {num2}')

70 is greater than 7

In [16]:
# nested if
# check the number -> +ve, -ve, zero
number=int(input())
if number >=0:
    if number == 0:
        print('Zero')
    else:
        print('+ve')
else:
    print('-ve')

-5
-ve

In [17]:
# Equal to ==
# Not equal to !=
# Greater than >
# Less than <
# Greater than or equal to >=
# Less than or equal to <=

In [18]:
# Logical operators -> and, or, not
user="Admin"
logged_in=True
if user == "Admin" and logged_in:
    print("Go to admin page")
else:
    print('Wrong credentials')

Go to admin page

In [19]:
user="Admin"
logged_in=True
if user == "Admin" or logged_in:
    print("Go to admin page")
else:
    print('Wrong credentials')

Go to admin page

In [20]:
user="Admin"
logged_in=False
if user == "Admin" and logged_in:
    print("Go to admin page")
else:
    print('Wrong credentials')

Wrong credentials

In [21]:
user="Admin"
logged_in=False
if user == "Admin" or logged_in:
    print("Go to admin page")
else:
    print('Wrong credentials')

Go to admin page

In [22]:
# == -> value equal or not
# is, not is --> memory location equal or not

In [23]:
a = [1, 2, 3]
b= [1,2, 3]

In [24]:
a==b

True

In [25]:
a is b

False

In [26]:
id(a)

4432268992

In [27]:
id(b)

4432362944

In [28]:
id(a)==id(b)

False

# Loops

In [29]:
# for, while

In [30]:
# iterables --> strings, lists, tuples, sets, dicts

In [31]:
for i in "programming":
    print(i)

p
r
o
g
r
a
m
m
i
n
g

In [32]:
for i in "programming":
    print(i, end=" ")

p r o g r a m m i n g

In [33]:
for i in "programming":

SyntaxError: incomplete input (3602100297.py, line 1)

In [34]:
for i in "programming":
    pass

In [35]:
for i in 10:
    print(1)

TypeError: 'int' object is not iterable

In [36]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [37]:
list(range(1, 10)) #start, stop, step

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [39]:
list(range(-1,-10))

[]

In [40]:
list(range(-1, -10, -1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [41]:
list(range(-1, -10, 1))

[]

In [42]:
for i in range(10):
    print(1)

1
1
1
1
1
1
1
1
1
1

In [43]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
nums=[] #append, extend
for i in range(10):
    nums.append(i)
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
nums=[] #append, extend
for i in range(10):
    nums.extend(i)
nums

TypeError: 'int' object is not iterable

In [46]:
# user defined list
# number=?
# each element

nums = []
nums_of_list = int(input('number of elemnts in list'))
for i in range(nums_of_list):
    a = int(input("number"))
    nums.append(a)
nums

number of elemnts in list3
number1

AttributeError: 'list' object has no attribute 'appned'

In [47]:
nums = []
nums_of_list = int(input('number of elemnts in list'))
for i in range(nums_of_list):
    a = int(input("number"))
    nums.append(a)
nums
# do same to generate dictionary

number of elemnts in list3
number1
number2
number3

[1, 2, 3]

In [48]:
# comprehension

In [49]:
 nums=[i for i in range(10)]

In [50]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
k=[1, 2, 3]
v=[1, 4, 9]
list(zip(k,v))

[(1, 1), (2, 4), (3, 9)]

In [53]:
dict1 = {k:v for (key, value) in list(zip(k,v))}

TypeError: unhashable type: 'list'

In [54]:
dict1 = {key:value for (key, value) in list(zip(k,v))}

In [55]:
dict1

{1: 1, 2: 4, 3: 9}

In [1]:
#List/Dict comprehension

In [2]:
squares = [i**2 for i in range(1,10)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
even_squares = [i**2 for i in range(1,10) if i%2 ==0]
even_squares

[4, 16, 36, 64]

In [1]:
#nested list comprehensonimpor

In [2]:
import random as r

In [3]:
r.randint(1, 10)

8

In [ ]:
int(input())