# numerical data types

In [ ]:
#number

In [1]:
number=89
type(number)

int

In [2]:
print(number)

89

In [4]:
#float

In [5]:
f1=34.566
type(f1)

float

In [6]:
#complex number (a+bj) a = real_part; b = imaginary_part
comp=4-5j
type(comp)

complex

In [7]:
comp.real

4.0

In [8]:
comp.imag

-5.0

# text data types

In [9]:
# string - sequence of alphaneumeric types
company="Inzint"
print(company)

Inzint

In [11]:
print('I work at', company)

I work at Inzint

In [12]:
multi_line_string = """I am mordhwaj.
I work in inzint"""
print(multi_line_string)

I am mordhwaj.
I work in inzint

In [13]:
"""I am mordhwaj.
I work in inzint"""
number=34
print(number)
# here multiline string is ignored and treated as comment by compiler

34

In [14]:
# variable name should be in format (h/w)

In [15]:
# indexing in array/list/string

#  0   1   2   3   4   5
#  p   y   t   h   o   n
# -6  -5  -4  -3  -2  -1

In [16]:
string1="python"
len(string1)

6

In [17]:
string1[0]

'p'

In [19]:
string1[-1]

'n'

In [20]:
# slicing
# variable_name[start:stop:step]

In [21]:
string1

'python'

In [22]:
string1[1:] #starting from index 1 all elements will be sliced

'ython'

In [23]:
string1[1:3] # starting from index 1, index 3 willl be excluded

'yt'

In [24]:
string1[:4] # by default start from index 0, index 4 excluded

'pyth'

In [26]:
string1[::2] # from index 0 started, by default goes at last as no stop index value, step 2,

'pto'

string1[-5:-2]

In [27]:
string1[-5:-2]

'yth'

In [28]:
#hty
string1[-2:-5]

''

In [29]:
string1[::-1]

'nohtyp'

In [30]:
string1[-3:-6:-1] # step if -ve then it will traverse in -ve direction

'hty'

In [31]:
#modifying string

In [32]:
a=20

In [33]:
string1[0] = "P" #immutability

TypeError: 'str' object does not support item assignment

In [34]:
string1.replace('p', 'P') #string1.replace(old, new, count)

'Python'

In [35]:
string1

'python'

In [36]:
# by using replace new string (view) dummy string created, original string was not modified

In [37]:
string1=string1.replace('p','P') #reassign for changing value

In [39]:
string1

'Python'

In [ ]:
#variable naming conventions

#not start with digit
#cannot contain spaces
#cannot be keywords, for, while
#no special characters is allowed except _

In [1]:
# concatenation
#string + string
str1=" Good "
str2=" Morning "
str1 + str2 + " all!"

' Good  Morning  all!'

In [2]:
#string + int
" good" + 4

TypeError: can only concatenate str (not "int") to str

In [3]:
" good" + "4"

' good4'

In [4]:
#format strings
place="Noida"
company="Inzint"
sentence="Hi, I am Mordhwaj, I work at {}. I live in {}."
sentence.format(company, place)

'Hi, I am Mordhwaj, I work at Inzint. I live in Noida.'

In [5]:
sentence.format(place, company)

'Hi, I am Mordhwaj, I work at Noida. I live in Inzint.'

In [6]:
sentence="Hi, I am Mordhwaj, I work at {1}. I live in {0}."
sentence.format(place, company)

'Hi, I am Mordhwaj, I work at Inzint. I live in Noida.'

In [8]:
a,b,c=10,20,30
type(a)
info="{} apples, {} bananas, {} cherries."
info.format(a,b,c)

'10 apples, 20 bananas, 30 cherries.'

In [10]:
#casting
#constructor -> can declare variable and assign, specify the data type of any value
#casting -> change the data type of any variable
4
int(4)

4

In [11]:
number=4
type(number)

int

In [12]:
fruit="cherries"
type(fruit)

str

In [13]:
number + fruit

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
str(number) + fruit

'4cherries'

In [16]:
str(number) + " " + fruit

'4 cherries'

In [18]:
float_val = 4.5556
type(float_val)

float

In [19]:
int(float_val)

4

In [20]:
int(fruit)

ValueError: invalid literal for int() with base 10: 'cherries'

# Boolean

In [21]:
# True | False (can be value)

In [22]:
bool1=True
type(bool1)

bool

In [23]:
4>5

False

In [24]:
4==4

True

In [25]:
4=4

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (555856018.py, line 1)

In [26]:
4==56

False

In [27]:
str1="101"
int(str1)

101

In [28]:
ord('f') #ascii code

102

In [29]:
bool("abcd")

True

In [30]:
bool(34)

True

In [31]:
bool(45.7)

True

In [32]:
bool('')

False

In [33]:
bool(0)

False

In [ ]:
#operations (+, -, *, /, %) we can perform on int/floats