In [1]:
import pandas as pd

In [2]:
#series
ser=pd.Series([4, 53, 3, 5, 6])
ser

0     4
1    53
2     3
3     5
4     6
dtype: int64

In [3]:
type(ser)

pandas.core.series.Series

In [4]:
ser.values

array([ 4, 53,  3,  5,  6])

In [5]:
ser.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
ser.dtype

dtype('int64')

In [7]:
ser.ndim

1

In [8]:
ser.shape

(5,)

In [9]:
len(ser)

5

In [10]:
ser2=pd.Series([4, 53, 3, 5, 6], index=['a', 'b', 'c', 'd', 'e'])
ser2

a     4
b    53
c     3
d     5
e     6
dtype: int64

In [11]:
ser2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
#dictionary

In [14]:
info={"name":"mordhwaj", "workplace": "noida"}
pd.Series(info)

name         mordhwaj
workplace       noida
dtype: object

In [17]:
import numpy as np
# 'Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'
ser3= pd.Series(['Amit', 'Bob', 'Kate', 'A', 'b', np.nan, 'Car', 'dog', 'cat'])
ser3

0    Amit
1     Bob
2    Kate
3       A
4       b
5     NaN
6     Car
7     dog
8     cat
dtype: object

In [18]:
type(ser3)

pandas.core.series.Series

In [19]:
len(ser3)

9

In [25]:
for i in range(0, len(ser3)):
    if (type(ser3[i]) != "NaN"):
        print (ser3[i].upper())
        print (ser3[i].lower())

AMIT
amit
BOB
bob
KATE
kate
A
a
B
b

AttributeError: 'float' object has no attribute 'upper'

In [1]:
#pandas --> filtering, concat, joins, grouping, cleaning

In [2]:
#multindexing

In [3]:
#iloc, loc, at

In [4]:
#joining, merging, concatenating --> dataframes

In [5]:
import numpy as np
import pandas as pd

In [6]:
arr1 = np.random.randint(0,100,(3, 4))
arr1

array([[85, 10, 75, 99],
       [ 8, 16, 57, 46],
       [15, 86,  0, 93]])

In [7]:
df1= pd.DataFrame(arr1, columns=['a', 'b', 'c'])

ValueError: Shape of passed values is (3, 4), indices imply (3, 3)

In [8]:
# player.csv

In [10]:
player = pd.read_csv('/Downloads/datasets/player.csv')
player

FileNotFoundError: [Errno 2] No such file or directory: '/Downloads/datasets/player.csv'

In [11]:
player = pd.read_csv('player.csv')
player

   rank             name  matches  innings  runs  highest  100s  50s
0     1          V Kohli      207      199  6283      113     5   42
1     2         S Dhawan      194      191  5784      106     2   44
2     3     Rohit Sharma      213      208  5611      109     1   40
3     4     Suresh Raina      205      200  5528      100     1   39
4     5     David Warner      150      150  5449      126     4   50
5     6  A B de Villiers      184      170  5162      133     3   40
6     7      Chris Gayle      142      141  4965      175     6   31
7     8        M S Dhoni      220      193  4746       84     0   23
8     9    Robin Uthappa      193      186  4722       87     0   25
9    10    Gutam Gambhir      154      152  4217       93     0   36

In [12]:
filtered = player["100s"]

In [13]:
filtered

0    5
1    2
2    1
3    1
4    4
5    3
6    6
7    0
8    0
9    0
Name: 100s, dtype: int64

In [14]:
player.100s

SyntaxError: invalid decimal literal (3143314343.py, line 1)

In [15]:
filtered

0    5
1    2
2    1
3    1
4    4
5    3
6    6
7    0
8    0
9    0
Name: 100s, dtype: int64

In [16]:
some = player["100s"] == 0
some

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
9     True
Name: 100s, dtype: bool

In [17]:
abc = pd.drop[some]
abc

AttributeError: module 'pandas' has no attribute 'drop'

In [18]:
pd.drop(some)

AttributeError: module 'pandas' has no attribute 'drop'

In [19]:
pd.dropna(some)

AttributeError: module 'pandas' has no attribute 'dropna'

In [2]:
import pandas as pd
xmart = pd.read_csv('Xtra-Mart.csv')
xmart

    CustID       City  Store Number  Sales (INR)  Customer Age Gender
0     1001     Mumbai            10          123            38      M
1     1003  Bangalore            23          543            40      M
2     1006      Delhi            15          220            30      F
3     1007    Chennai            17          190            45      F
4     1009     Mumbai            11          269            28      F
5     1010  Bangalore            21          130            56      M
6     1011     Mumbai            13          175            43      M
7     1012      Delhi            16          210            36      M
8     1013      Delhi            18          120            25      M
9     1014  Bangalore            21          150            29      F
10    1015     Mumbai            11          160            49      M
11    1017      Delhi            16          170            75      F
12    1019    Chennai            17          242            62      F
13    1020     Mumbai            10          273            55      M

In [3]:
xmart.groupby(['City', 'Store Number']).first()

                        CustID  Sales (INR)  Customer Age Gender
City      Store Number
Bangalore 21              1010          130            56      M
          23              1003          543            40      M
Chennai   17              1007          190            45      F
Delhi     15              1006          220            30      F
          16              1012          210            36      M
          18              1013          120            25      M
Mumbai    10              1001          123            38      M
          11              1009          269            28      F
          13              1011          175            43      M

In [4]:
xmart.groupby(['City', 'Store Number']).groups

{('Bangalore', 21): [5, 9], ('Bangalore', 23): [1], ('Chennai', 17): [3, 12], ('Delhi', 15): [2], ('Delhi', 16): [7, 11], ('Delhi', 18): [8], ('Mumbai', 10): [0, 13], ('Mumbai', 11): [4, 10], ('Mumbai', 13): [6]}

In [5]:
xmart.groupby(['City', 'Store Number'])['Sales (INR)']

In [6]:
xmart.groupby(['City', 'Store Number'])['Sales (INR)'].mean()

City       Store Number
Bangalore  21              140.0
           23              543.0
Chennai    17              216.0
Delhi      15              220.0
           16              190.0
           18              120.0
Mumbai     10              198.0
           11              214.5
           13              175.0
Name: Sales (INR), dtype: float64

In [7]:
xmart.groupby('City').get_group('Mumbai')

    CustID    City  Store Number  Sales (INR)  Customer Age Gender
0     1001  Mumbai            10          123            38      M
4     1009  Mumbai            11          269            28      F
6     1011  Mumbai            13          175            43      M
10    1015  Mumbai            11          160            49      M
13    1020  Mumbai            10          273            55      M

In [8]:
xmart.groupby(['City', 'Store Number']).get_group(('Bangalore', 21))

   CustID       City  Store Number  Sales (INR)  Customer Age Gender
5    1010  Bangalore            21          130            56      M
9    1014  Bangalore            21          150            29      F

In [9]:

bbt = pd.read_csv('big_bang_theory_episodes.csv')

In [10]:
bbt

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
0,1,1,1,Pilot,James Burrows,Chuck Lorre & Bill Prady,2007-09-24,276023,9520000.0
1,1,2,2,The Big Bran Hypothesis,Mark Cendrowski,Story by: Chuck Lorre & Bill PradyTeleplay by:...,2007-10-01,3T6601,8580000.0
2,1,3,3,The Fuzzy Boots Corollary,Mark Cendrowski,Story by: Chuck LorreTeleplay by: Bill Prady &...,2007-10-08,3T6602,8360000.0
3,1,4,4,The Luminous Fish Effect,Mark Cendrowski,Story by: Chuck Lorre & Bill PradyTeleplay by:...,2007-10-15,3T6603,8150000.0
4,1,5,5,The Hamburger Postulate,Andrew D. Weyman,Story by: Jennifer GlickmanTeleplay by: Dave G...,2007-10-22,3T6604,8810000.0
...,...,...,...,...,...,...,...,...,...
274,12,20,275,The Decision Reverberation,Mark Cendrowski,Story by: Steven Molaro & Steve Holland & Tara...,2019-04-25,T12.16020,11840000.0
275,12,21,276,The Plagiarism Schism,Nikki Lorre,Story by: Eric Kaplan & Maria Ferrari & Adam F...,2019-05-02,T12.16021,12480000.0
276,12,22,277,The Maternal Conclusion,Kristy Cecil,Story by: Steve Holland & Eric Kaplan & Jeremy...,2019-05-09,T12.16022,12590000.0
277,12,23,278,The Change Constant,Mark Cendrowski,Chuck Lorre & Steve Holland & Steven Molaro & ...,2019-05-16,T12.16023,18520000.0
278,12,24,279,The Stockholm Syndrome,Mark Cendrowski,Chuck Lorre & Steve Holland & Steven Molaro & ...,2019-05-16,T12.16024,18520000.0

In [12]:
bbt.groupby('directed_by').get_group(('Mark Cendrowski'))

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
1,1,2,2,The Big Bran Hypothesis,Mark Cendrowski,Story by: Chuck Lorre & Bill PradyTeleplay by:...,2007-10-01,3T6601,8580000.0
2,1,3,3,The Fuzzy Boots Corollary,Mark Cendrowski,Story by: Chuck LorreTeleplay by: Bill Prady &...,2007-10-08,3T6602,8360000.0
3,1,4,4,The Luminous Fish Effect,Mark Cendrowski,Story by: Chuck Lorre & Bill PradyTeleplay by:...,2007-10-15,3T6603,8150000.0
5,1,6,6,The Middle Earth Paradigm,Mark Cendrowski,Story by: Dave GoetschTeleplay by: David Litt ...,2007-10-29,3T6605,8920000.0
6,1,7,7,The Dumpling Paradox,Mark Cendrowski,Story by: Chuck Lorre & Bill PradyTeleplay by:...,2007-11-05,3T6606,9680000.0
...,...,...,...,...,...,...,...,...,...
272,12,18,273,The Laureate Accumulation,Mark Cendrowski,Story by: Steve Holland & Adam Faberman & Davi...,2019-04-04,T12.16018,12220000.0
273,12,19,274,The Inspiration Deprivation,Mark Cendrowski,Story by: Eric Kaplan & Maria Ferrari & Andy G...,2019-04-18,T12.16019,11440000.0
274,12,20,275,The Decision Reverberation,Mark Cendrowski,Story by: Steven Molaro & Steve Holland & Tara...,2019-04-25,T12.16020,11840000.0
277,12,23,278,The Change Constant,Mark Cendrowski,Chuck Lorre & Steve Holland & Steven Molaro & ...,2019-05-16,T12.16023,18520000.0
278,12,24,279,The Stockholm Syndrome,Mark Cendrowski,Chuck Lorre & Steve Holland & Steven Molaro & ...,2019-05-16,T12.16024,18520000.0

In [13]:
bbt.groupby(['directed_by', 'written_by']).get_group(('us_viewers'))

ValueError: must supply a tuple to get_group with multiple grouping keys

In [15]:
bbt.groupby(['directed_by', 'written_by']).groups

{('Andrew D. Weyman', 'Story by: Jennifer GlickmanTeleplay by: Dave Goetsch & Steven Molaro'): [4], ('Anthony Rich', 'Chuck Lorre & Bill Prady & Lee Aronsohn & Steven Molaro'): [59], ('Anthony Rich', 'Story by: Bill Prady & Eric Kaplan & Jim ReynoldsTeleplay by: Steven Molaro & Dave Goetsch & Steve Holland'): [153], ('Anthony Rich', 'Story by: Chuck Lorre & Bill Prady & Dave GoetschTeleplay by: Lee Aronsohn & Steven Molaro & Steve Holland'): [75], ('Anthony Rich', 'Story by: Chuck Lorre & Bill Prady & Steve HollandTeleplay by: Steven Molaro & Eric Kaplan & Anthony Del Broccolo'): [97], ('Anthony Rich', 'Story by: Chuck Lorre & Dave Goetsch & Anthony Del BroccoloTeleplay by: Steven Molaro & Steve Holland & Eric Kaplan'): [180], ('Anthony Rich', 'Story by: Chuck Lorre & Eric Kaplan & Tara HernandezTeleplay by: Steve Holland & Maria Ferrari & Jeremy Howe'): [238], ('Anthony Rich', 'Story by: Chuck Lorre & Jim Reynolds & Maria FerrariTeleplay by: Steven Molaro & Eric Kaplan & Steve Holland'): [133], ('Anthony Rich', 'Story by: Chuck Lorre & Jim Reynolds & Maria FerrariTeleplay by: Steven Molaro & Steve Holland & Eric Kaplan'): [129], ('Anthony Rich', 'Story by: Chuck Lorre & Steve Holland & Alex AyersTeleplay by: Steven Molaro & Jim Reynolds & Saladin K. Patterson'): [229], ('Anthony Rich', 'Story by: Steve Holland & Saladin K. Patterson & Tara HernandezTeleplay by: Steven Molaro & Eric Kaplan & Maria Ferrari'): [205], ('Anthony Rich', 'Story by: Steven Molaro & Bill Prady & Maria FerrariTeleplay by: Eric Kaplan & Steve Holland & Tara Hernandez'): [167], ('Anthony Rich', 'Story by: Steven Molaro & Tara Hernandez & Jeremy HoweTeleplay by: Chuck Lorre & Jim Reynolds & Maria Ferrari'): [181], ('Gay Linvill', 'Story by: Eric Kaplan & Maria Ferrari & Anthony Del BroccoloTeleplay by: Steve Holland & Tara Hernandez & Adam Faberman'): [246], ('Gay Linvill', 'Story by: Steven Molaro & Maria Ferrari & Tara HernandezTeleplay by: Chuck Lorre & Jim Reynolds & Steve Holland'): [150], ('Howard Murray', 'Story by: Bill Prady & Eric Kaplan & Jim ReynoldsTeleplay by: Chuck Lorre & Steven Molaro & Steve Holland'): [85], ('Howard Murray', 'Story by: Chuck Lorre & Eric Kaplan & Steve HollandTeleplay by: Bill Prady & Steven Molaro & Jim Reynolds'): [92], ('James Burrows', 'Chuck Lorre & Bill Prady'): [0], ('Joel Murray', 'Story by: Bill Prady & Stephen EngelTeleplay by: Chuck Lorre & Lee Aronsohn & Dave Goetsch'): [8], ('Kristy Cecil', 'Story by: Eric Kaplan & Tara Hernandez & Jeremy HoweTeleplay by: Steve Holland & Dave Goetsch & Maria Ferrari'): [263], ('Kristy Cecil', 'Story by: Steve Holland & Eric Kaplan & Jeremy HoweTeleplay by: Maria Ferrari & Andy Gordon & Anthony Del Broccolo'): [276], ('Mark Cendrowski', 'Chuck Lorre & Steve Holland & Steven Molaro & Bill Prady & Dave Goetsch & Eric Kaplan & Maria Ferrari & Andy Gordon & Anthony Del Broccolo & Tara Hernandez & Jeremy Howe & Adam Faberman'): [277, 278], ('Mark Cendrowski', 'Dave Goetsch'): [36], ('Mark Cendrowski', 'Eric Kaplan & Richard Rosenstock'): [39], ('Mark Cendrowski', 'Jim Reynolds'): [41], ('Mark Cendrowski', 'Steve Holland'): [43], ('Mark Cendrowski', 'Steven Molaro'): [35, 40], ('Mark Cendrowski', 'Story by: Bill Prady & Chuck LorreTeleplay by: Stephen Engel & Tim Doyle'): [20], ('Mark Cendrowski', 'Story by: Bill Prady & Dave Goetsch & Eddie GorodetskyTeleplay by: Chuck Lorre & Steven Molaro & Eric Kaplan'): [83], ('Mark Cendrowski', 'Story by: Bill Prady & Dave Goetsch & Maria FerrariTeleplay by: Chuck Lorre & Steven Molaro & Jim Reynolds'): [79], ('Mark Cendrowski', 'Story by: Bill Prady & Dave GoetschTeleplay by: Tim Doyle & Stephen Engel'): [33], ('Mark Cendrowski', 'Story by: Bill Prady & Eric Kaplan & Jim ReynoldsTeleplay by: Steven Molaro & Steve Holland & Maria Ferrari'): [170], ('Mark Cendrowski', 'Story by: Bill Prady & Eric Kaplan & Maria FerrariTeleplay by: Steven Molaro & Steve Holland & Saladin K. Patterson'): [201], ('Mark Cendrowski', 'Story by: Bill Prady & Eric Kaplan & Steve HollandTeleplay by: Chuck Lorre & Steven Molaro & Jim Reynolds'): [110], ('Mark Cendrowski', 'Story by: Bill Prady & Jeremy Howe & Adam FabermanTeleplay by: Steve Holland & Dave Goetsch & Maria Ferrari'): [269], ('Mark Cendrowski', 'Story by: Bill Prady & Jim Reynolds & Anthony Del BroccoloTeleplay by: Chuck Lorre & Steven Molaro & Eric Kaplan'): [114], ('Mark Cendrowski', 'Story by: Bill Prady & Lee Aronsohn & Dave GoetschTeleplay by: Chuck Lorre & Eric Kaplan & Steve Holland'): [77], ('Mark Cendrowski', 'Story by: Bill Prady & Lee Aronsohn & Dave GoetschTeleplay by: Chuck Lorre & Steven Molaro & Steve Holland'): [67], ('Mark Cendrowski', 'Story by: Bill Prady & Lee Aronsohn & Jim ReynoldsTeleplay by: Chuck Lorre & Steven Molaro & Steve Holland'): [52], ('Mark Cendrowski', 'Story by: Bill Prady & Lee Aronsohn & Steve HollandTeleplay by: Chuck Lorre & Steven Molaro & Jim Reynolds'): [64], ('Mark Cendrowski', 'Story by: Bill Prady & Lee AronsohnTeleplay by: Dave Goetsch & Steven Molaro'): [15], ('Mark Cendrowski', 'Story by: Bill Prady & Maria Ferrari & Adam FabermanTeleplay by: Steve Holland & Eric Kaplan & Tara Hernandez'): [240], ('Mark Cendrowski', 'Story by: Bill Prady & Maria Ferrari & Tara HernandezTeleplay by: Steve Holland & Eric Kaplan & Jeremy Howe'): [234], ('Mark Cendrowski', 'Story by: Bill Prady & Richard RosenstockTeleplay by: Chuck Lorre & Steven Molaro'): [29], ('Mark Cendrowski', 'Story by: Bill Prady & Richard RosenstockTeleplay by: Stephen Engel & Eric Kaplan'): [27], ('Mark Cendrowski', 'Story by: Bill Prady & Richard RosenstockTeleplay by: Steven Molaro & Daley Haggar'): [28], ('Mark Cendrowski', 'Story by: Bill Prady & Steve Holland & Eddie GorodetskyTeleplay by: Chuck Lorre & Steven Molaro & Eric Kaplan'): [80], ('Mark Cendrowski', 'Story by: Bill Prady & Steven Molaro & Jim ReynoldsTeleplay by: Chuck Lorre & Eric Kaplan & Maria Ferrari'): [91], ('Mark Cendrowski', 'Story by: Bill Prady & Steven Molaro & Maria FerrariTeleplay by: Chuck Lorre & Jim Reynolds & Steve Holland'): [88], ('Mark Cendrowski', 'Story by: Bill Prady & Steven Molaro & Steve HollandTeleplay by: Chuck Lorre & Eric Kaplan & Maria Ferrari'): [107], ('Mark Cendrowski', 'Story by: Bill Prady & Steven MolaroTeleplay by: Dave Goetsch & Richard Rosenstock'): [45], ('Mark Cendrowski', 'Story by: Bill Prady & Steven MolaroTeleplay by: Lee Aronsohn & Dave Goetsch'): [21], ('Mark Cendrowski', 'Story by: Bill Prady & Tim DoyleTeleplay by: Jennifer Glickman & Steven Molaro'): [23], ('Mark Cendrowski', 'Story by: Bill PradyTeleplay by: Dave Goetsch & Jennifer Glickman'): [24], ('Mark Cendrowski', 'Story by: Bill PradyTeleplay by: Dave Goetsch & Steven Molaro'): [17], ('Mark Cendrowski', 'Story by: Bill PradyTeleplay by: Stephen Engel & Steven Molaro'): [13], ('Mark Cendrowski', 'Story by: Chuck Lorre & Anthony Del Broccolo & Tara HernandezTeleplay by: Bill Prady & Steven Molaro & Maria Ferrari'): [102], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Dave GoetschTeleplay by: Steven Molaro & Eric Kaplan & Maria Ferrari'): [47], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Jim ReynoldsTeleplay by: Lee Aronsohn & Steven Molaro & Maria Ferrari'): [65], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Jim ReynoldsTeleplay by: Lee Aronsohn & Steven Molaro & Steve Holland'): [70], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Lee AronsohnTeleplay by: Steven Molaro & Jim Reynolds & Maria Ferrari'): [60], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Maria FerrariTeleplay by: Steven Molaro & Jim Reynolds & Steve Holland'): [106], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Steve HollandTeleplay by: Eric Kaplan & Richard Rosenstock & Jim Reynolds'): [57], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Steve HollandTeleplay by: Steven Molaro & Eric Kaplan & Jim Reynolds'): [103], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Steve HollandTeleplay by: Steven Molaro & Jim Reynolds & Eric Kaplan'): [116], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Steve HollandTeleplay by: Steven Molaro & Jim Reynolds & Tara Hernandez'): [126], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Tara HernandezTeleplay by: Steven Molaro & Eric Kaplan & Jim Reynolds'): [120], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Tara HernandezTeleplay by: Steven Molaro & Eric Kaplan & Steve Holland'): [105], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill Prady & Tara HernandezTeleplay by: Steven Molaro & Jim Reynolds & Steve Holland'): [131], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill PradyTeleplay by: David Litt & Lee Aronsohn'): [3], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill PradyTeleplay by: Lee Aronsohn & Jennifer Glickman'): [6], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill PradyTeleplay by: Lee Aronsohn & Steven Molaro'): [16, 44], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill PradyTeleplay by: Richard Rosenstock & Steven Molaro'): [31], ('Mark Cendrowski', 'Story by: Chuck Lorre & Bill PradyTeleplay by: Robert Cohen & Dave Goetsch'): [1], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Anthony Del BroccoloTeleplay by: Bill Prady & Steven Molaro & Eric Kaplan'): [95], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Anthony Del BroccoloTeleplay by: Bill Prady & Steven Molaro & Steve Holland'): [90], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Anthony Del BroccoloTeleplay by: Steven Molaro & Jim Reynolds & Steve Holland'): [118], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Anthony Del BroccoloTeleplay by: Steven Molaro & Steve Holland & Saladin K. Patterson'): [219], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Maria FerrariTeleplay by: Bill Prady & Steven Molaro & Steve Holland'): [93], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Maria FerrariTeleplay by: Steven Molaro & Eric Kaplan & Steve Holland'): [127], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Maria FerrariTeleplay by: Steven Molaro & Steve Holland & Tara Hernandez'): [210], ('Mark Cendrowski', 'Story by: Chuck Lorre & Dave Goetsch & Tara HernandezTeleplay by: Steven Molaro & Steve Holland & Jim Reynolds'): [202], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Anthony Del BroccoloTeleplay by: Steven Molaro & Jim Reynolds & Steve Holland'): [124], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Dave GoetschTeleplay by: Steven Molaro & Steve Holland & Saladin K. Patterson'): [195], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Eddie GorodetskyTeleplay by: Bill Prady & Steven Molaro & Steve Holland'): [82], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Jeremy HoweTeleplay by: Steve Holland & Maria Ferrari & Tara Hernandez'): [231], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Jeremy HoweTeleplay by: Steven Molaro & Steve Holland & Maria Ferrari'): [115], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Jeremy HoweTeleplay by: Steven Molaro & Steve Holland & Tara Hernandez'): [199], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Jim ReynoldsTeleplay by: Bill Prady & Steven Molaro & Dave Goetsch'): [89], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Jim ReynoldsTeleplay by: Bill Prady & Steven Molaro & Steve Holland'): [101], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Jim ReynoldsTeleplay by: Steven Molaro & Bill Prady & Steve Holland'): [122], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Jim ReynoldsTeleplay by: Steven Molaro & Steve Holland & Maria Ferrari'): [117, 136, 165, 208], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Maria FerrariTeleplay by: Steven Molaro & Jim Reynolds & Saladin K. Patterson'): [187], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Maria FerrariTeleplay by: Steven Molaro & Steve Holland & Tara Hernandez'): [244], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Steve HollandTeleplay by: Steven Molaro & Jim Reynolds & Maria Ferrari'): [111, 121, 128], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Steve HollandTeleplay by: Steven Molaro & Maria Ferrari & Adam Faberman'): [125], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Tara HernandezTeleplay by: Bill Prady & Steven Molaro & Steve Holland'): [94], ('Mark Cendrowski', 'Story by: Chuck Lorre & Eric Kaplan & Tara HernandezTeleplay by: Steve Holland & Maria Ferrari & Jeremy Howe'): [255], ('Mark Cendrowski', 'Story by: Chuck Lorre & Erik Kaplan & Maria FerrariTeleplay by: Steve Holland & Jim Reynolds & Jeremy Howe'): [215], ('Mark Cendrowski', 'Story by: Chuck Lorre & Jim Reynolds & Anthony Del BroccoloTeleplay by: Steven Molaro & Steve Holland & Maria Ferrari'): [161], ...}

In [16]:
bbt.groupby('title')['us_viewers'].max()

title
Pilot                             9520000.0
The 2003 Approximation           16960000.0
The 21-Second Excitation         13110000.0
The 43 Peculiarity               17630000.0
The Adhesive Duck Deficiency     13230000.0
                                    ...
The Wildebeest Implementation    10500000.0
The Work Song Nanocluster         9760000.0
The Workplace Proximity          17800000.0
The Zarnecki Incursion           11920000.0
The Zazzy Substitution           12590000.0
Name: us_viewers, Length: 279, dtype: float64